## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
#!pip install pandas

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [1]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [5]:
import pandas as pd


file = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [47]:
import pandas as pd

file = pd.read_csv('titanic.csv')

print(file.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [45]:
import pandas as pd

file = pd.read_csv('titanic.csv')

print(file.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [48]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here
import pandas as pd

file = pd.read_csv('titanic.csv')

print(file.isna())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]

Заполнение NaN

In [49]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here
import pandas as pd

file = pd.read_csv('titanic.csv')

print(file.fillna(0))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500     0        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250     0        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500     0        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000     0        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500     0        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500     0        Q

[891 rows x 12 columns]

Удаление строк с NaN

In [27]:
# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here

import pandas as pd


file = pd.read_csv('titanic.csv')
file = file.head()
file = file.dropna()

print(file)

   PassengerId  Survived  Pclass  \
1            2         1       1
3            4         1       1

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch    Ticket     Fare Cabin Embarked
1      0  PC 17599  71.2833   C85        C
3      0    113803  53.1000  C123        S

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [29]:
import pandas as pd


file = pd.read_csv('titanic.csv')
file = file.dropna()

# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
data1 = file['Age']

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
data2 = file[['Name', 'Sex']]

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
data3 = file.loc[3]

# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here

data4 = file[(file['Age'] > 30) & (file['Sex'] == 'male')]

print(
    data1, data2, data3, data4
)

1      38.0
3      35.0
6      54.0
10      4.0
11     58.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: Age, Length: 183, dtype: float64                                                   Name     Sex
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
6                              McCarthy, Mr. Timothy J    male
10                     Sandstrom, Miss. Marguerite Rut  female
11                            Bonnell, Miss. Elizabeth  female
..                                                 ...     ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female
872                           Carlsson, Mr. Frans Olof    male
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female
887                       Graham, Miss. Margaret Edith  female
889                              Behr, Mr. Karl Howell    male

[183 rows x 2 columns] PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                    35.0
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object      PassengerId  Survived  Pclass                                  Name  \
6              7         0       1               McCarthy, Mr. Timothy J
21            22         1       2                 Beesley, Mr. Lawrence
54            55         0       1        Ostby, Mr. Engelhart Cornelius
62            63         0       1           Harris, Mr. Henry Birkhardt
92            93         0       1           Chaffee, Mr. Herbert Fuller
..           ...       ...     ...                                   ...
789          790         0       1              Guggenheim, Mr. Benjamin
806          807         0       1                Andrews, Mr. Thomas Jr
857          858         1       1                Daly, Mr. Peter Denis
867          868         0       1  Roebling, Mr. Washington Augustus II
872          873         0       1              Carlsson, Mr. Frans Olof

      Sex   Age  SibSp  Parch       Ticket     Fare        Cabin Embarked
6    male  54.0      0      0        17463  51.8625          E46        S
21   male  34.0      0      0       248698  13.0000          D56        S
54   male  65.0      0      1       113509  61.9792          B30        C
62   male  45.0      1      0        36973  83.4750          C83        S
92   male  46.0      1      0  W.E.P. 5734  61.1750          E31        S
..    ...   ...    ...    ...          ...      ...          ...      ...
789  male  46.0      0      0     PC 17593  79.2000      B82 B84        C
806  male  39.0      0      0       112050   0.0000          A36        S
857  male  51.0      0      0       113055  26.5500          E17        S
867  male  31.0      0      0     PC 17590  50.4958          A24        S
872  male  33.0      0      0          695   5.0000  B51 B53 B55        S

[67 rows x 12 columns]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [37]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here

import pandas as pd


file = pd.read_csv('titanic.csv')
file = file.dropna()

sorted_file = file.sort_values(by='Age')
print(sorted_file)

     PassengerId  Survived  Pclass                                  Name  \
305          306         1       1        Allison, Master. Hudson Trevor
183          184         1       2             Becker, Master. Richard F
205          206         0       3            Strom, Miss. Telma Matilda
297          298         0       1          Allison, Miss. Helen Loraine
340          341         1       2        Navratil, Master. Edmond Roger
..           ...       ...     ...                                   ...
54            55         0       1        Ostby, Mr. Engelhart Cornelius
456          457         0       1             Millet, Mr. Francis Davis
745          746         0       1          Crosby, Capt. Edward Gifford
96            97         0       1             Goldschmidt, Mr. George B
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson

        Sex    Age  SibSp  Parch     Ticket      Fare    Cabin Embarked
305    male   0.92      1      2     113781  151.5500  C22 C26        S
183    male   1.00      2      1     230136   39.0000       F4        S
205  female   2.00      0      1     347054   10.4625       G6        S
297  female   2.00      1      2     113781  151.5500  C22 C26        S
340    male   2.00      1      1     230080   26.0000       F2        S
..      ...    ...    ...    ...        ...       ...      ...      ...
54     male  65.00      0      1     113509   61.9792      B30        C
456    male  65.00      0      0      13509   26.5500      E38        S
745    male  70.00      1      1  WE/P 5735   71.0000      B22        S
96     male  71.00      0      0   PC 17754   34.6542       A5        C
630    male  80.00      0      0      27042   30.0000      A23        S

[183 rows x 12 columns]

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [41]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here

import pandas as pd

file = pd.read_csv('titanic.csv')

survival_rate = file.groupby('Pclass')['Survived'].mean()

print(survival_rate)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [50]:
import pandas as pd

df = pd.read_csv('titanic.csv')

missing_values = df.isna()

df.fillna(0)

print(df.head(10))

filtered_df = df[df['Age'] > 30]

sorted_df = filtered_df.sort_values(by='Fare', ascending=False)

age_by_class = sorted_df.groupby('Pclass')['Age'].mean()

print(age_by_class)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
Pclass
1    46.196000
2    41.694805
3    39.883495
Name: Age, dtype: float64